HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Node Modules ###
node_modules/
LostnFound-FE/node_modules/

### Application Properties (contains sensitive data) ###
LostnFound/src/main/resources/application.properties

### Uploads ###
uploads/
*.jpg
*.jpeg
*.png
*.gif
!**/src/**/*.jpg
!**/src/**/*.png
